<ion-view view-title="{{place.title}}">
  <ion-nav-buttons side="right" ng-if="user.hasBussinessRole()">
    <button class="button button-icon button-clear ion-android-add-circle" ng-click="newPromo()"> new Coupon
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list">

      <div class="item item-thumbnail-left" >
        <img src="{{place.getLogoUrl()}}">
        <h2>{{place.name}}</h2>
        <h3>{{place.address}}</h3>
        <h3>{{place.phone}}</h3>
      </div>
      <div class="item">
        <h2 class="title">Available Coupons</h2>
      </div>
    
      <div class="item">
        <div class="list">
          <a class="item item-thumbnail-left" href="#" ng-repeat="promo in promos" ng-click="showPromo()">
            <img src="{{promo.getBannerUrl()}}">
            <h2>{{promo.name}}</h2>
            <p ng-bind-html="promo.description"></p>
          </a>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>