<ion-view >
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content >

    <div class="card">
      <div class="item">
        <div class="row row-center">
          <div class="col col-75">
            <h2>{{pendingRedeem.user_name}}</h2>
            <p>{{pendingRedeem.user_email}}</p>
            <p>{{pendingRedeem.place_name}}</p>
          </div>
          <div class="col text-center">
            <h2>
              <b>{{pendingRedeem.stars}}</b>
              <i class="icon ion-star"></i>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class=" list">
        <label class="item item-input">
          <span class="input-label">Number of stars</span>
          <input type="number" ng-model="redeem.number_of_stars" min="0">
        </label>
        <label class="item ">
          <div class="input-label">Description</div>  
        </label>
        <label class="item item-input">
          <textarea ng-model="redeem.description" msd-elastic placeholder="Coupon's description..." cols="2" ></textarea>
        </label>

      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="submit()">
          Create Redeem
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>