<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Welcome</h1>
    <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <ion-content>
    <!-- <div class="video-container">
        <iframe src="http://www.youtube.com/embed/uJAWaE11Jf4" frameborder="0" width="560" height="315"></iframe>
    </div> -->
    <div class="modal transparent" >
      <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="centerme"><source src="vids/shutterstock_v8593096.mov" type="video/mp4"/></video>
    </div>
  </ion-content>
</ion-modal-view>